@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin-bottom: 20px;
}
body {
background-color: #f1f1f1;
color: #0f141e;
font: normal 16px 'Roboto', sans-serif; 
cursor: context-menu;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

a:active {
    color:red;
}

a :visited {
    color: grey;
}

 .avatar {
width: 200px;
border-radius: 30px;
box-shadow: 4px 4px 14px rgba(0, 0 ,0
,025 );
 }



 .info {
    display: flex;
 }

 @media (max-width: 700px) {
    .info {
        text-align: center;
    display: block; 
    } 
 }

 .info-text h1 {
    margin-left: 40px;
 }

 .info p  {
    margin-left: 20px;
    color: #86898f;
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
   /* text-transform: uppercase; */
}

.inform p {
    text-align: right;
    color: green;
}
    /* Box Model */

 /* .social {
    background: green;
     padding: 15px;
     padding: 15px  20px 25px 30px ;
    border: 5px solid red;
    border-bottom-style: dotted;
    border-top-width: 15px;
    border-right-color: blue;

    margin: 5px; } */

    /* .box-model > div {

    float: left;
    background: #000;
    height: 200px;
    border: 4px solid red;
    width: 25%;
    box-sizing: border-box;
    } */
    
    .bg-yellow {
        background: #fdf6d2;
    }


    .bg-green {
        background: #d2fdd5;
    }

    .bg-red {
        background: #fcdfdf;
    }

    .letter {
        text-align: center;
        margin-bottom: 30px;

    }

    .bg-blue  {
        background: rgb(213, 213, 253);
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    
    .card {
        padding: 15px 20px;
        margin-bottom: 20px;
        border-radius: 20px
} 

.card h4 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
    
}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.table {
    border-color: rgb(255, 135, 135);
    padding-bottom: 10px;
    width: 100%;

}

 .contact {
    text-align: center;
 }

 .form-group label {
    margin-top: 20px;
    display: block;
    font-size: 14px;
    color: #86898f;
 }

 .form-group input, 
 .form-group input, textarea {
    width: 100%;
    box-sizing: border-box;
    border: none; 
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    font-size: 15px;
    color: #000;

 }

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.btn {
    background: #000;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

/* Position

.position {
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
}

.box {
    position: relative;
    width: 50px;
    height: 50px;
    background: lightcoral;
}   */